<h1> Properties in db {{name}}</h1>
<table>
    <thead>
        <tr>
            <th>ID</tr>
            <th>Website</th>
            <th>Year</th>
            <th>M2 Inside</th>
            <th>M2 Outside</th>
            <th>Rooms</th>
            <th>Floors</th>
        </tr>
    </thead>
    <body>
        {% for row in data%}
        <tr>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
        </tr>
        {%endfor%}
    </body>
</table>